:root {
  --color-accept-tomato: #e06733;
  --color-primary-grey: #717171;
  --color-text-selection-green: #499a18;
  --color-link-header: #010201;
  --color-black: #000000;
  --color-description-text: #636060;
  --background-block-light: #edf2ec;
  --color-border-price: #aea1a1;
  --color-second-white: #fff;
  --color-input-unactive: #d6e7d2;
  --color-input-active: #c1e698;
  --color-input-option: #dce9d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
img {
  display: block;
}
body {
  height: 100vh;

  font-family: "Inter";
  background-color: var(--background-block-light);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 109px;
  padding-right: 109px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
  font-family: "Inika";
}
/* .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 2;
} */
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header_menu {
  padding-top: 6px;
}
.logo_a {
  position: relative;
  z-index: 3;
}
.logo_img {
  width: 20px;
  height: 20px;
  display: inline-block;
  max-width: 100%;
}
.header_list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* position: relative;
  z-index: 2; */
}
.header_item_li:not(:last-child) .header_link {
  margin-right: 46px;
}
.header_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-link-header);
}

.header_item_li:nth-child(1) .header_link {
  color: var(--color-accept-tomato);
}
.logo_a:hover,
.header_link:hover,
.header_link:focus {
  color: var(--color-accept-tomato);
  transition: 2s;
}
a:active {
  color: var(--color-accept-tomato);
}
@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 380px) {
  body.lock {
    overflow: hidden;
  } /* .header_body {
    height: 96px;
  } */
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo_img {
    width: 20px;
    height: 20px;
  }
  /* burger-menu */
  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    left: 0;
    /* top: 36px; */
    width: 40px;
    height: 24px;
    cursor: pointer;
  }
  .menu_icon span,
  .menu_icon:before,
  .menu_icon:after {
    position: absolute;
    left: 0;

    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-primary-grey);
  }
  .menu_icon:before,
  .menu_icon:after {
    content: "";
  }
  .menu_icon:before {
    top: 0;
  }
  .menu_icon:after {
    bottom: 0;
  }
  .header_burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header_burger.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header_burger.active .menu_icon::before {
    top: 10px;
    transform: translate(0px, 50%) rotate(45deg);
  }
  .header_burger.active .menu_icon::after {
    top: 10px;
    transform: translate(0px, 50%) rotate(-45deg);
  }

  .header_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    padding: 112px 20px 30px 26px;
    transition: transform 250ms;

    background-color: rgba(9, 13, 17, 0.8);
    overflow: auto;
    /* transform: translateX(-100%); */
  }
  .header_menu.active {
    right: 0;
    /* transform: translateX(0); */
  }
  .burger-menu_overlay {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .header_burger.active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header_link {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 1.3;
    color: var(--background-block-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_link:hover {
    color: var(--color-accept-tomato);
  }

  .header_list {
    display: block;
  }
  .header_item_li {
    margin: 0 0 20px 0;
  }

  .header_burger_overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header_burger_overlay .header_burger.active {
    transform: translate(-50%, -50%) scale(0.9);
  }
  .burger-menu_overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .header_burger.active .burger_menu_overlay {
    opacity: 0.5;
  }
}

.section-welcome {
  background-color: var(--background-block-light);
}
.welcome {
  padding-top: 73px;
  padding-bottom: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.welcome-img {
  /* overflow: hidden;
  position: relative; */
  width: 448.8px;
  height: 407.36px;
}
.welcome-picture {
  /* width: 100%;
  object-fit: cover;
  object-position: left;
  position: absolute;
  top: 0;
  left: 0; */
}
.welcome-content {
  max-width: 538px;
  padding-top: 24px;
  font-family: "Inter";
}
.welcome-content-title {
  margin-bottom: 42px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-primary-grey);
}
.welcome-span {
  font-size: 45px;
  color: var(--color-text-selection-green);
}
.welcome-description {
  width: 525px;
  padding-top: 5px;
  margin-bottom: 44px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-description-text);
}
.btn-welcome {
  padding: 12px 27px 12px 27px;
  border: 2px solid var(--color-accept-tomato);
  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--background-block-light);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-welcome:hover,
.btn-welcome:focus {
  color: white;
  background-color: var(--color-accept-tomato);
  border: 1px solid var(--color-accept-tomato);
}
@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .welcome {
    /* margin-left: 12px; */
    padding-top: 26px;
    padding-bottom: 72px;
    margin-left: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .welcome-img {
    padding-top: 0;
    width: 280px;
    height: 254px;
  }

  .welcome-picture {
    max-width: 100%;
  }

  .welcome-content {
    max-width: 346px;
    /* padding-top: 40px; */
    border-radius: unset;
  }
  .welcome-content-title {
    margin-bottom: 34px;
    font-size: 35px;
    line-height: 1.4;
  }
  .welcome-span {
    font-size: 35px;
  }
  .welcome-description {
    width: unset;
    padding-top: unset;
    margin-bottom: 39px;

    font-size: 16px;
    line-height: 1.5;
  }
  .btn-welcome {
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 380px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .welcome {
    padding-top: unset;
    display: block;
    padding-top: 7px;

    padding-bottom: 24px;
  }
  .welcome-img {
    display: none;
  }
  .welcome-content {
    max-width: 100%;

    margin-left: -9px;
    border-radius: unset;

    background: var(--background-block-light);
  }
  .welcome-content-title {
    margin-bottom: 33px;
    font-size: 25px;
    line-height: 1.1;
  }
  .welcome-span {
    font-size: 25px;
  }
  .welcome-description {
    width: unset;
    max-width: 315px;
    padding-top: unset;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 1.4;
  }
  .btn-welcome {
    padding: 8px 18px 8px 18px;

    font-size: 10px;
    line-height: 1.2;
  }
  .btn-welcome:hover,
  .btn-welcome:focus {
    transition: 3s;
    cursor: pointer;
  }
}

/* cl */
.about {
  display: flex;
  justify-content: space-between;

  padding-top: 143px;
  padding-bottom: 34px;

  background-color: #fff;
}
.about-content {
  padding-top: 10px;
  font-family: "Inter";
}
.about-title {
  width: 494px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  color: var(--color-text-selection-green);
}
.about-span {
  color: var(--color-accept-tomato);
}
.about-description {
  padding-top: 39px;
  max-width: 605px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-description-text);
}
.about-img {
  width: 464px;
  height: 479px;
}
.about-picture {
  margin: -58px 1px 1px 2px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .about-content {
    max-width: 100%;
    margin-bottom: 0;
  }
  .about-title {
    margin-left: 93px;

    margin-top: -10px;
    margin-bottom: 10px;
    height: unset;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
  }
  .about-description {
    padding-top: unset;
    margin-top: 40px;
    max-width: 100%;

    font-size: 20px;
    line-height: 1.57;
  }
  .about-img {
    margin-top: 60px;
    width: unset;
    height: unset;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
  }
  .about-picture {
    display: block;
    width: 250px;
    height: 258px;
    margin: 0;
  }
}
@media (max-width: 380px) {
  .container {
    /* max-width: 380px; */
    padding-left: 25px;
    padding-right: 25px;
  }

  .about {
    /* width: 380px; */
    padding-top: 30px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-content {
    max-width: 100%;
    margin-bottom: 0;

    /* margin-bottom: 0; */
  }
  .about-title {
    margin-left: unset;

    margin-top: unset;
    margin-bottom: -20px;

    width: unset;
    height: unset;
    /* max-width: 100%; */
    font-size: 25px;
    line-height: 1;
    text-align: center;
  }

  .about-description {
    width: unset;
    margin-bottom: -15px;
    padding-top: unset;
    /* max-width: 330px; */

    font-size: 15px;
    line-height: 1.67;
  }
  .about-img {
    margin-top: 10px;

    width: unset;
    height: unset;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-picture {
    display: block;
    width: 150px;
    height: 147px;
    margin: 0;
  }
}

/*  */

.service {
  background: var(--background-block-light);

  padding-top: 40px;
  padding-bottom: 140px;
  font-family: "Inika";
  font-weight: 400;
}
.services_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9px;
  margin-bottom: 80px;
}
.service_title {
  margin-right: 142px;
  max-width: 306px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;

  color: var(--color-text-selection-green);
}
.services_content_btn {
  margin-top: 5px;
  margin-right: 206px;

  display: flex;
  align-items: center;
}
.btn_gardens,
.btn_lawn,
.btn_planting {
  padding: 12px 40px 12px 40px;
  border: 1px solid var(--color-accept-tomato);
  border-radius: 5px;
  background-color: var(--background-block-light);

  font-size: 20px;
  line-height: 1.3;
  color: var(--color-accept-tomato);
}
.btn_lawn {
  padding: 12px 54px 12px 54px;
}

.btn_gardens,
.btn_lawn {
  margin-right: 38px;
}
.btn_gardens:hover,
.btn_gardens:focus,
.btn_lawn:hover,
.btn_lawn:focus,
.btn_planting:hover,
.btn_planting:focus {
  color: var(--color-second-white);
  background-color: var(--color-accept-tomato);
  border: 1px solid var(--color-accept-tomato);
  transition: 250ms;
  cursor: pointer;
}
.wrapper {
}
/* div2й */
.serv_adaptiv {
  width: 100%;
  height: 100%;
}
/* ul */
.serv_ul {
  display: grid;
  grid-template-areas:
    "a a a"
    "a a a";
  grid-column-gap: 116px;
  grid-row-gap: 73px;
  margin-left: 9px;
}
/* li*/
.service_list {
  list-style: none;
}
.service_list::before {
  content: " ";
  float: left;
  padding-top: 100%;
}
/* div img+for card */
.list_conteiner {
  transition: all 250ms linear;
}

/* img */
.service_list_img {
  transition: all 250ms linear;
  cursor: pointer;
}

.blur {
  transition: all 250ms linear;
  filter: blur(2px);
}

/* div card descr */
.service_card {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;

  border: 1px solid #e3e1d5;

  border-radius: 0px 0px 20px 20px;
}

/* h2 */
.service_card_title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  color: var(--color-accept-tomato);
}
/* p */
.service_description {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;

  color: var(--color-primary-grey);
  opacity: 0.7;
}

@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .service_adaptive {
  }
  .service {
    padding-top: 0;
    padding-bottom: 0;
  }
  .services_content {
    padding-top: 163px;
    display: block;
    margin-bottom: 0;
  }
  .service_title {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 45px;
    /* padding-top: 30px; */

    font-size: 35px;
    text-align: left;
  }
  .services_content_btn {
    margin-top: 0;
    margin-bottom: 42px;
    display: flex;
    padding-top: unset;
  }
  .btn_gardens,
  .btn_lawn,
  .btn_planting {
    font-size: 15px;
  }
  .btn_gardens {
    margin-right: 37px;
  }
  .btn_lawn {
    padding: 12px 60px;
    margin-right: 39px;
  }
  .btn_gardens,
  .btn_planting {
    padding: 12px 50px;
  }

  .serv_ul {
    display: grid;
    grid-template-areas:
      "a a"
      "a a"
      "a a"
      "a a";
    grid-column-gap: 106px;
    grid-row-gap: 38px;

    /* margin-left: 9px; */
  }
  .service_list {
  }
  .list_conteiner {
  }
  .list_conteiner {
  }
  /* img */
  .service_list_img {
    width: 280px;
    height: 350px;
  }
  /* div card descr */
  .service_card {
  }
  /* h2 */
  .service_card_title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;

    color: var(--color-accept-tomato);
  }
  /* p */
  .service_description {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.25;

    color: var(--color-primary-grey);
    opacity: 0.7;
  }
}
@media (max-width: 380px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .service_adaptive {
    display: block;
  }
  .services_content {
    max-width: 100%;
    /* padding: 60px 0 0 0; */
    display: block;
    padding-top: 70px;
  }
  .service_title {
    margin-right: 0;
    margin-top: 0;
    /* margin-bottom: 5px; */
    /* padding-top: 30px; */
    max-width: 184px;

    font-size: 25px;
    text-align: left;
  }
  .services_content_btn {
    margin-top: 0;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-top: unset;
  }
  .btn_gardens,
  .btn_lawn,
  .btn_planting {
    width: 121px;
    height: 35px;
    /* margin-right: 10px; */
    margin-bottom: 9px;
    padding: 8px 28px;
    font-size: 15px;
  }
  .btn_lawn {
    padding: 8px 28px;
    margin-right: unset;
  }
  .btn_gardens {
    margin-right: 9px;
  }

  .serv_ul {
    display: grid;
    grid-template-areas:
      "a"
      "a"
      "a"
      "a"
      "a"
      "a";
    justify-content: center;
    grid-row-gap: 33px;
  }
  .service_card {
    width: 100%;
  }
  .service_list {
    width: 280px;
  }
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 100px;
  padding-top: 40px;
}

.prices_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  color: var(--color-black);
}
.accordion_body {
  /* min-height: 100vh; */
}
/* accordion */
.prices_list_item {
  margin-top: 60px;
  margin-left: 8px;
  padding: 34px 41px 34px 41px;
  margin: 60px 0 0 32;
  /* max-width: 332px; */
  width: 100%;
  max-height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba (0, 0, 0, 0.2);
}

.prices_list {
  overflow: hidden;
}
.prices_list:not(:last-of-type) {
  margin-bottom: 23px;
}
.prices_list.open {
  padding-bottom: 10px;
}
.header_accordion {
  margin-bottom: 10px;
}
.price_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 39px;
  padding-right: 40px;
  width: 100%;
  min-height: 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  background: var(--background-block-light);
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.accordion_description_card {
  height: 0px;
  transition: all 250ms linear;

  width: 250px;
  font-family: "Inter";
  background: #d6e7d2;
  border-radius: 20px;
}

.accordion_description_card .accordion_btn {
}
.accordion_description_card .card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding-top: 16px;
  padding-left: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 3;
  border-bottom: 0.5px solid #aea1a1;

  color: var(--color-black);
  transition: color 250ms linear;
}
.prices_list.open .card_title {
  min-height: 35px;
}
.accordion_description_card .description_price_card {
  margin-bottom: 6px;
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 300;
  font-size: 10px;
  line-height: 1;

  color: var(--color-primary-grey);
}

.accordion_description_card .per_price {
  margin-bottom: 12px;
  padding-left: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-accept-tomato);
}
.accordion_description_card .price_or {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--color-black);
}
.accordion_description_card .price_order {
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 3px 20px;
  border-radius: 10px;
  border-color: var(--color-second-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;

  color: var(--color-primary-grey);
  background-color: var(--color-second-white);
}
.second_btn {
  margin-right: 40px;
}

/* .prices_list_item .prices_list:not(:last-of-type) .price_btn {
  margin-bottom: 32px;
} */

.prices_text_call {
  text-align: end;
}

.prices_description {
  margin-bottom: 38px;
  width: 452px;
  height: 103px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  color: var(--color-black);
}
.prices_span {
  color: var(--color-text-selection-green);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
}
.price_contact_btn {
  padding: 13px 24px;

  font-size: 20px;
  font-weight: 700;
  color: var(--color-accept-tomato);
  border: 1px solid var(--color-accept-tomato);
  border-radius: 5px;

  background-color: var(--color-second-white);
}
.price_contact_btn:hover {
  color: var(--color-second-white);
  background-color: var(--color-accept-tomato);
  border: 1px solid var(--color-accept-tomato);
  transition: 3s;
  cursor: pointer;
}
.price_img {
  margin-top: 39px;
  display: flex;
  flex-flow: row-reverse;
}
.prices_plans {
  max-width: 152px;
  max-height: 174px;
}
@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .prices {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
  }
  .prices_item {
    padding-top: 30px;
  }
  .prices_title {
    font-size: 35px;
  }
  .prices_list_item {
    padding: 33px 33px 30px 33px;
    margin: 40px 0 0 0;
  }

  .prices_text_call {
    text-align: end;
    padding-top: 130px;
  }
  .prices_call {
  }

  .prices_description {
    margin-bottom: 21px;
    max-width: 296px;
    max-height: 77.41px;

    font-size: 25px;
  }
  .prices_span {
    font-size: 25px;
  }
  .price_contact_btn {
    padding: 14px 26px;
  }
  .price_img {
    margin-top: 39px;
    display: flex;
    flex-flow: row-reverse;
  }
  .prices_plans {
    max-width: 152px;
    max-height: 174px;
  }
}
/* 999 */
@media (max-width: 380px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .prices {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding-bottom: 20px;
  }
  .prices_item {
    width: 380px;
    padding-top: 14px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prices_title {
    margin-bottom: -3px;
    font-size: 25px;
  }

  .prices_list_item {
    padding: 29px 22px;
  }
  .prices_list {
    margin: 10px;
    margin: 0 auto;
  }
  .price_btn {
    align-items: center;
    padding: 16px 45px 16px 30px;
    width: 180px;
    height: 49.72px;
    font-size: 15px;
  }
  .prices_list_item .prices_list:not(:last-of-type) .price_btn {
    margin-bottom: 13px;
  }

  .prices_text_call {
    max-width: 100%;
    margin-top: 19px;
    margin-bottom: 40px;
    margin: 0 auto;
    padding-right: 0;
    padding-top: 0;
    text-align: unset;
  }
  .prices_call {
  }
  .prices_description {
    text-align: center;
    margin-top: 19px;
    margin-bottom: 14px;
    width: 230px;
    line-height: 1.6;
    /* height: 77px; */

    font-size: 20px;
  }
  .prices_span {
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
  }
  .price_contact_btn {
    padding: 7px 22px;
    text-align: center;
    font-size: 15px;
    margin-left: 52px;
  }
  .price_contact_btn:hover {
    transition: 3s;
    cursor: pointer;
    border: 1px solid var(--color-description-text);
    border-radius: 10px;
    background-color: #cde4b6;
  }
  .price_img {
    display: none;
  }
}
/* cl */
.section_contacts {
  background: var(--background-block-light);
}
.contacts {
  display: flex;
  justify-content: space-between;

  padding-top: 72px;
  background: #edeeff;
}
.contact_img_woman {
  /* margin-left: 109px; */
  max-width: 400px;
  max-height: 497px;
}
.contact_title {
  margin-top: 4px;
  margin-left: 67px;
  font-family: "Inika";
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: var(--color-text-selection-green);
}
.select-container {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  margin-top: 94px;
}

.select-container .select {
  position: relative;
  height: 50px;
  transition: background-color 250ms linear;
}

.select-container .select::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  right: 34px;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid #8ba07e;
  border-right: 2px solid #8ba07e;
  cursor: pointer;
  transition: border-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select-container.active .select::after {
  border: none;
  border-left: 2px solid #8ba07e;
  border-top: 2px solid #8ba07e;
}

.select-container .select input {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 20px;

  background-color: var(--color-input-unactive);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  outline: none;
  border: none;

  font-weight: 400px;
  font-size: 20px;
  line-height: 2;
  color: var(--color-primary-grey);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.select-container.active .select input {
  background-color: var(--color-input-active);
}
.select-container .option-container {
  position: relative;
  background-color: var(--color-input-option);
  height: 0;
  overflow-y: auto;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select-container.active .option-container {
  height: 235px;
  padding: 27px 50px 31px 24px;
}
.select-container .option-container .option {
  position: relative;
  height: 35px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  display: flex;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.select-container .option-container .option:not(:last-of-type) {
  margin-bottom: 12px;
}
.select-container .option-container .option:hover {
  border-bottom: 1px solid #717171;
  background-color: var(--color-input-option);
}

.select-container .option-container .option label {
  font-size: 16px;
  line-height: 2.5;
  color: var(--color-text-selection-green);
  cursor: pointer;
  transition: color 250ms linear;
}
.select-container .option-container .option:hover label {
  color: var(--color-primary-grey);
}

/* div */
.option_container {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  height: 200px;
  margin-top: 0px;
  opacity: 1;
}

.option_container.is_hidden {
  visibility: hidden;
  opacity: 0;
}

/* ul */

.option_card {
  padding: 17px 75px 15px 25px;

  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 20px;
  border: 1px solid #000000;

  background-color: var(--background-block-light);
}
/* li */
.option_card_adress {
  display: flex;
  justify-content: space-between;
}
/* h4 */
.option_card_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}

/* span */
.span_card_adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: var(--color-primary-grey);
}
.btn_call_option {
  margin-top: 30px;
  text-align: center;
}
.option_btn_call {
  border: 1px solid #e06733;
  border-radius: 5px;
  padding: 7px 29px;
  background-color: var(--background-block-light);
  color: var(--color-primary-grey);
  transition: background-color 250ms linear, color 250ms linear;
}
.option_btn_call:hover,
.option_btn_call:focus {
  color: var(--color-second-white);
  background-color: var(--color-accept-tomato);
}

@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .contact_img_woman {
    /* margin-left: 109px; */
    order: 2;
    max-width: 200px;
    max-height: 248px;
    margin: 0 auto;
  }
  .contact_title {
    order: 0;
    margin-bottom: 100px;
  }
  .contact_input-wrapper {
    order: 1;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: unset;
    margin-bottom: 240px;
  }
  .contact_input-wrapper::after {
    right: 138px;
  }
}
@media (max-width: 380px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .contact_img_woman {
    /* margin-left: 109px; */
    order: 2;
    max-width: 100px;
    max-height: 124px;
    margin: 0 auto;
  }
  .contact_title {
    order: 0;
    margin-bottom: 80px;
    font-size: 25px;
    margin-top: 33px;
  }

  .contact_input {
    padding: 5px 26px 5px 20px;
    min-width: 300px;
    min-height: 50px;
  }
  .contact_input-wrapper {
    order: 1;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: unset;
    margin-bottom: 132px;
  }
  .contact_input-wrapper::after {
    right: 20px;
  }
}
.footer_data {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.info_data {
  display: flex;
}
.info_contact {
  /* margin-right: 20px; */
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;
  color: var(--color-black);
}
.info_contact:not(:last-of-type) {
  margin-right: 28px;
}

.info_school_link {
  margin-right: -3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;
  color: var(--color-black);
}
.info_icons {
  display: flex;
}
.info_icon:not(:last-of-type) .info_icon_link {
  margin-right: 24px;
}
@media (max-width: 767px) {
  .container {
    max-width: 380px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer_data {
    padding-top: 33px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .info_data {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
  }

  .info_school_link {
    padding-top: unset;
  }
  .info_icons {
    margin-bottom: 16px;
    display: flex;
  }
  .info_icon:not(:last-of-type) {
    margin-right: 18px;
  }
  .info_icon_link {
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .container {
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer_data {
    padding-top: 33px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .info_data {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
  }

  .info_school_link {
    padding-top: unset;
  }
  .info_icons {
    margin-bottom: 16px;
    display: flex;
  }
  .info_icon:not(:last-of-type) {
    margin-right: 18px;
  }
  .info_icon_link {
    margin-bottom: 18px;
  }
}
